* {
   box-sizing: border-box;    
}

body {
    background: white url(http://www.htmldog.com/images/bg.gif) no-repeat center;
}
body p {
    font-size: 14px;
    color: navy;
    width: 200px;
    border: 1px solid black;
    padding: 25px;
    margin: 225px;
    background-color:red;
}

p:hover {
    color: red;
}