*{
    box-sizing: border-box;     
}

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
span {
    display: inline-block;
}

img {
    max-height: 100%;
    max-width: 100%;
}

form {
    vertical-align: middle;
}

.user {
    float:right;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    border: 4px solid green;
    overflow: hidden;
}

.user img {
    max-width: 200%;
    max-height: 200%;
    position: relative;
    right:1.5em;

}

#header {
    text-align: left;
    width: 100%;
    vertical-align: center;
    padding:2em;
}

.logo {
    width:7em;
}

.search {
    border: 1px solid #D3D3D3;
    border-radius: 5%;
    margin-left: 1em;
    padding: 0.25em 0.5em;
    width: 40em;
}

.search:hover {
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
}

#main-search {
    width: 36.5em;
    border: none;
    height:2em;
    position:relative;
    bottom:1em;
}

.search form button {
    height:40px;
    width:60px;
    border: none;
    padding:0;
    background-color: white;
}

#tools {
    border-bottom: 1px solid #D3D3D3;
    width:100%;
    padding-left:10em;
}


.tool {
    Position: relative;
    text-align: center;
    bottom: 1em;
    width: 3.8em;
}

.tool a {
    color: gray;
    text-decoration: none;
}

.tool a:hover {
    color: black;
}

#results {
    margin-left: 10em;
    margin-top:1em;
}

.speed {
    color:gray;
    font-size: 0.8em;
    padding-left: 1.4em;
}

.result {
    margin: 1em 0 2em 2em;
    width:40em;
}

.title {
    display: block;
    padding:0;
    font-size:1.2em;
    text-decoration: none;
}

.pagelink {
    margin:0;
    font-size:0.8em;
    color: green;
    text-decoration: none;
}
.content {
    margin:0;
    color:darkslategrey;
    font-size: 0.9em;
}

#related {
    margin-left: 2em;
}
h1 {
    font-size: 1.2em;
}

#related a {
    display: block;
    margin:1em 0 1em 0;
    text-decoration: none;
}

a {
    color: blue;
}

#more-search {
    width:40em;
    text-align: center;
}

#legal {
    background-color:lightgray;
    widows: 100%;
    padding-left: 10em;
    border-top: 1px darkslategray solid;
}

#legal div {

    color:darkslategrey;
}

.city {
    color:darkslategrey;
    padding-right: 2em;
    margin-right: 2em;
}

.more {
    border-top: 1px darkslategray solid;
    width:40em;
    text-align: justify;
    padding-bottom: 2em;
}
.more a{
    color:darkslategrey;
    text-decoration: none;
}